@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Barlow:wght@600&family=Inter:wght@500;600&family=Lato:wght@400;700&family=Montserrat:wght@400;500&family=Poppins:wght@400;700&family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box; /* tells the browser to account for any border and padding in the values you specify for an element's width and height */
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    flex: 1 100%; /* All items will be 100% width */
}

.header {
    background-color: #2C3131;
    color: #FFFFFF;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    padding: 64px 29px;
}

.main {
    display: flex;
    flex-flow: column wrap;
    padding: 29px;
    gap: 54px;
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 23px;
    align-items: baseline;
}

.disabled-wrapper {
    cursor: not-allowed;
}

.btn {
    background-color: #017187;
    color: #FFFFFF;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 20px 40px;
    border-radius: 8px;
    border: 2px solid #017187;
}

.btn:disabled {
    background-color: #E9E9E9;
    color: #A9A9A9;
    border: 2px solid #CACACA;
    pointer-events: none; /* Disables hover effects */
}

.btn:hover {
    background-color: #67AAB7;
    border-color: #67AAB7;
    cursor: pointer;
}

.btn--light {
    background-color: transparent;
    color: #017187;
    border: 2px solid #017187;
}

.btn--light:disabled {
    background-color: transparent;
    border-color: #CACACA;
    color: #A9A9A9;
    pointer-events: none;
}

.btn--light:hover {
    background-color: transparent;
    color: #67AAB7;
    border-color: #67AAB7;
}

.btn-pill {
    background-color: #F43F5E;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    padding: 13px 25px 15px;
    border-radius: 100px;
    border: 1px solid #F43F5E;
}

.btn-pill:disabled {
    background-color: #E5E7EB;
    color: #9CA3AF;
    border: 1px solid #E5E7EB;
    pointer-events: none;
}

.btn-pill:hover {
    background-color: #9F1239;
    border-color: #9F1239;
    cursor: pointer;
}

.btn-pill--secondary {
    background-color: #0EA5E9;
    border-color: #0EA5E9;
}

.btn-pill--secondary:hover {
    background-color: #075985;
    border-color: #075985;
}

.btn-pill-light {
    background-color: transparent;
    color: #F43F5E;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    padding: 13px 25px 15px;
    border-radius: 100px;
    border: 2px solid #F43F5E;
}

.btn-pill-light:disabled {
    color: rgba(156, 163, 175, 0.5); /* #9CA3AF with 0.5 opacity */
    border-color: #E5E7EB;
    pointer-events: none;
}

.btn-pill-light:hover {
    color: #9F1239;
    border-color: #9F1239;
    outline: 4px solid #FDA4AF;
    cursor: pointer;
}

.btn-pill-light--secondary {
    color: #0EA5E9;
    border-color: #0EA5E9;
}

.btn-pill-light--secondary:hover {
    color: #075985;
    border-color: #075985;
    outline-color: #7DD3FC;
}

.btn-pill-large {
    background-color: #FFD159;
    color: #FFFFFF;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    padding: 14px 34px;
    border-radius: 30px;
    border: 1.5px solid #FFD159;
    box-shadow:
                0 14px 23px
                rgba(28, 37, 44, 0.08);
}

.btn-pill-large:disabled {
    background-color: #F1EBF5;
    color: #AEA8B2;
    border-color: #F1EBF5;
    pointer-events: none;
}

.btn-pill-large:hover {
    background-color: #FFFFFF;
    color: #FFD159;
    cursor: pointer;
}

.btn-sub {
    background-color: #FFFFFF;
    color: #5C6BC0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2.36px;
    padding: 11px 20px;
    border-radius: 3px;
    border: 1px solid #5C6BC0;
}
.btn-sub:disabled {
    background-color:transparent;
    color: #5C6BC0;
    opacity: 0.5;
    pointer-events: none;
}

.btn-sub:hover {
    background-color: #5C6BC0;
    color: #FFFFFF;
    box-shadow:
                0 2px 5px
                rgba(0, 0, 0, 0.25);
    cursor: pointer;
}