@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Barlow:wght@600&family=Inter:wght@500;600&family=Lato:wght@400;700&family=Montserrat:wght@400;500&family=Poppins:wght@400;700&family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box; /* tells the browser to account for any border and padding in the values you specify for an element's width and height */
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    flex: 1 100%; /* All items will be 100% width */
}

.header {
    background-color: #2C3131;
    color: #FFFFFF;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-size: 56px;
    padding: 64px 29px;
    line-height: 67px;
}

.main {
    display: flex;
    flex-flow: column wrap;
    padding: 29px;
    gap: 23px;
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 23px;
}

.disabled-wrapper {
    cursor: not-allowed;
}

.btn {
    background-color: #017187;
    color: #FFFFFF;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 40px;
    line-height: 28px;
    border-radius: 8px;
    border: 2px solid #017187;
}

.btn:disabled {
    background-color: #E9E9E9;
    color: #A9A9A9;
    border: 2px solid #CACACA;
    pointer-events: none; /* Disables hover effects */
}

.btn:hover {
    cursor: pointer;
    background-color: #67AAB7;
    border-color: #67AAB7;
}

.btn--light {
    background-color: transparent;
    color: #017187;
    border: 2px solid #017187;
}

.btn--light:disabled {
    background-color: transparent;
    border-color: #CACACA;
    color: #A9A9A9;
    pointer-events: none;
}

.btn--light:hover {
    background-color: transparent;
    color: #67AAB7;
    border-color: #67AAB7;
}
